.btnbck
{
    padding-left: 94%
}

.btnsubmitpad
{
    padding-bottom: 1.3%;
}

.lgnset
{
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 10%;
}

.tal
{
    color: gray;
    font-size: 18pt;
}

.dpr
{
    margin: 2% 0% 0% 9%;
}

.dprsp
{
    margin:2% 0% 0% 42%;
}
